<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/loginPage.css">
  <link rel="stylesheet" href="/styles/registerNewStudent.css">
  <link rel="stylesheet" href="/styles/studentProfile.css" media="screen">
  <link rel="stylesheet" href="/styles/instructorProfile.css" media="screen">
  <link rel="stylesheet" href="/styles/scheduleNewExam.css">
  <link rel="stylesheet" href="/styles/examConfirmation.css">
  <link rel="stylesheet" href="/styles/studentHistory.css">
  <link rel="stylesheet" href="/styles/viewReport.css">
  <title>Exam Registration</title>
</head>
<header>
  <div class="Black" class="header">
    <img src="/images/CSNlogo.webp" id="CSNlogo">
</div>
</header>
<main class="container">